aiohttp==3.8.5
aiosignal==1.3.1
anyio==3.7.1
art==6.0
async-timeout==4.0.3
attrs==23.1.0
bard==0.1
bardapi==0.1.33
beautifulsoup4==4.12.2
Brotli==1.0.9
browser-cookie3==0.19.1
cachetools==5.3.1
certifi==2023.7.22
cffi==1.15.1
charset-normalizer==3.2.0
colorama==0.4.6
cssselect2==0.7.0
deep-translator==1.11.4
exceptiongroup==1.1.3
fonttools==4.42.0
frozenlist==1.4.0
google-api-core==2.11.1
google-auth==2.22.0
google-cloud-core==2.3.3
google-cloud-translate==3.12.0
googleapis-common-protos==1.60.0
GoogleBard==2.1.0
grpcio==1.57.0
grpcio-status==1.57.0
h11==0.14.0
h2==4.1.0
hpack==4.0.0
html5lib==1.1
httpcore==0.17.3
httpx==0.24.1
hyperframe==6.0.1
idna==3.4
langdetect==1.0.9
lz4==4.3.2
markdown-it-py==3.0.0
markdown2==2.4.10
mdurl==0.1.2
multidict==6.0.4
openai==0.27.8
Pillow==10.0.0
prompt-toolkit==3.0.39
proto-plus==1.22.3
protobuf==4.24.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycparser==2.21
pycryptodomex==3.18.0
pydyf==0.7.0
pyfiglet==0.8.post1
Pygments==2.16.1
pyphen==0.14.0
requests==2.31.0
rich==13.5.2
rsa==4.9
six==1.16.0
sniffio==1.3.0
socksio==1.0.0
soupsieve==2.4.1
tinycss2==1.2.1
tqdm==4.66.1
urllib3==1.26.7
wcwidth==0.2.6
weasyprint==59.0
webencodings==0.5.1
yarl==1.9.2
zopfli==0.2.2
