/* static/styles/main.css */

body {
    background-color: #0f0f0f;
    /* Dark background, reminiscent of a terminal */
    color: #33ff33;
    /* Classic green on black "hacker" theme */
    font-family: 'Consolas', 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

h1 {
    color: #33ff33;
    /* Bright green for that neon glow effect */
    text-shadow: 0 0 8px #33ff33;
    /* Soft glow around headers */
}

input[type="text"],
textarea,
select {
    background-color: #1c1c1c;
    /* A shade lighter than body for contrast */
    border: 1px solid #33ff33;
    /* Classic hacker green border */
    color: #33ff33;
    padding: 12px;
    margin: 8px 0;
    width: 100%;
    box-sizing: border-box;
    border-radius: 8px;
    /* Rounded corners for modern look */
}

input[type="file"] {
    background-color: #333;
    border: 1px solid #33ff33;
    color: #33ff33;
    padding: 10px;
    margin: 8px 0;
    border-radius: 8px;
   
}

input[type="submit"] {
    background-color: #33ff33;
    color: #0f0f0f;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 0 10px #33ff33;
    transition: background-color 0.3s ease-in-out;
}

input[type="submit"]:hover {
    background-color: #28cc28;
    /* A lighter green for hover effect */
}

label {
    color: #33ff33;
}

form {
    width: 100%;
    max-width: 500px;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
    border-radius: 12px;
    /* More rounded corners for the form itself */
}

.flash-success {
    background-color: #33ff33;
    color: #0f0f0f;
    padding: 16px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 999;
    border-radius: 8px;
    box-shadow: 0 0 10px #33ff33;
}

/* Additional styles for centering the title and form */
.container {
    text-align: center;
    /* Center align the container content */
}

.title {
    margin-bottom: 30px;
    /* Space between the title and the form */
}

form {
    display: inline-block;
    text-align: left;
    /* Align form elements to the left */
}

/* Style for the submit button */
.submit-btn {
    display: block;
    /* Block display to fill the width of the form */
    margin: 5px auto 0;
    /* Auto margins for horizontal centering, 5px top margin */
    padding-top: 5px;
    /* 5px padding at the top */
}


.svg-container {
    display: block;
    /* Block display to fit the width of its container */
    text-align: center;
    /* Center the SVG horizontally */
    margin-bottom: 20px;
    /* Space between the SVG and the title */
}